site_name: OpsDuty
site_description: Documentation for the OpsDuty incident management platform.
strict: true
site_url: https://docs.opsduty.io
repo_name: opsduty/opsduty-docs

copyright: >
  Copyright &copy; 2026 OpsDuty -
  <a href="#__consent">Cookie Settings</a>

plugins:
  - social

theme:
  name: material
  language: en
  palette:
    - media: "(prefers-color-scheme)"
      scheme: default
      primary: deep purple
      accent: deep purple
      toggle:
        icon: material/lightbulb
        name: "Switch to light mode"
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep purple
      accent: deep purple
      toggle:
        icon: material/lightbulb-outline
        name: "Switch to dark mode"
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep purple
      accent: deep purple
      toggle:
        icon: material/lightbulb-auto-outline
        name: "Switch to system preference"
  features:
    - content.tabs.link
    - content.code.annotate
    - content.code.copy
    - announce.dismiss
    - navigation.footer
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.preview
    - navigation.instant.progress
    - navigation.path
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - navigation.tracking
    - search.suggest
    - toc.follow
  logo: "logo-white.png"
  favicon: "favicon.png"

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/opsduty/
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/opsduty/
  analytics:
    provider: google
    property: G-EVHG9WS7YC
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.

nav:
  - Get Started:
      - Welcome to OpsDuty: index.md
      - Why use OpsDuty: why.md
      - Help with OpsDuty: help_with_opsduty.md

  - Concepts:
      - Getting Started: concepts/index.md
      - Incidents: concepts/incidents.md
      - Analytics: concepts/analytics.md
      - Labels: concepts/labels.md
      - Heartbeat Monitoring: concepts/heartbeat-monitoring.md

      - Escalations:
          - Services: concepts/escalations/services.md
          - Schedules: concepts/escalations/schedules.md
          - Escalation Policies: concepts/escalations/escalation-policies.md

      - Event Processing:
          - Receive Channels: concepts/event-processing/receive-channels.md
          - Routing Rules: concepts/event-processing/routing-rules.md
          - Event Orchestrations: concepts/event-processing/event-orchestrations.md

      - Users:
          - Members: concepts/users/members.md
          - Teams: concepts/users/teams.md
          - Settings: concepts/users/settings.md

      - Organization:
          - Settings: concepts/organization/settings.md
          - Single Sign-On: concepts/organization/single-sign-on.md

      - Integrations:
          - Incoming Calls: concepts/integrations/incoming-calls.md
          - Slack: concepts/integrations/slack.md
          - Webhook: concepts/integrations/webhooks.md

  - API:
      - Getting Started: api/index.md
      - OAuth2: api/oauth2.md
      - Swagger: api/swagger.md
      - OpenAPI: api/openapi.md
      - Clients:
          - Python:
              - opsduty-client: api/opsduty-client.md

  - Apps:
      - Getting Started: apps/index.md
      - Android: apps/android.md
      - iOS: apps/ios.md
      - Notifications: apps/notifications.md
      - Tips and Tricks: apps/tips-and-tricks.md

  - CLI:
      - Getting Started: cli/index.md
      - Heartbeats: cli/heartbeats.md
      - Schedules: cli/schedules.md

markdown_extensions:
  - tables
  - toc:
      permalink: true
      title: Page contents
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      pygments_lang_class: true
  - pymdownx.extra
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
